html, body {
  min-width: 300px;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Lato';
  font-size: 20px;
}

body {
  display: grid;
  grid-template-columns: 200px auto;
  grid-template-rows: minmax(55px, 8vh) auto;
  grid-row-gap: 5px;
}

a {
  text-decoration: none;
  color: inherit;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100vw;
  min-height: 55px;
  height: 8vh;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-area: 1 / 1 / 1 / 2;
  color: #FFF;
  background: #26A69A;
  border-bottom: 5px solid #00766C;
}

#macipe-logo {
  font-family: 'Average';
  font-size: 2rem;
  font-weight: bold;
}

#btn-holder {
  float: left;
  margin-left: auto;
  margin-right: 10px;
}

#logged-as a {
  text-decoration: underline;
  font-weight: bold;
}

.primary-btn, .secondary-btn {
  border: 4px solid #000;
  border-radius: 8px;
  outline: none;
  font-weight: bold;
  padding: 2px 15px;
  box-sizing: border-box;
  height: 32px;
  font-size: 0.8rem;
  cursor: pointer;
  transition: all 0.2s;
}

.primary-btn {
  background: #000;
  color: #FFF;
}

.secondary-btn {
  background: #FFF;
  color: #000;
}

a.primary-btn, a.secondary-btn {
  color: inherit;
  display: inline-block;
  vertical-align: middle;
}

.primary-btn.color-primary, .secondary-btn.color-primary {border-color: #26A69A;}
.primary-btn.color-secondary, .secondary-btn.color-secondary {border-color: #6D4C41;}
.primary-btn.color-primary {background: #26A69A;}
.primary-btn.color-secondary {background: #6D4C41;}
.secondary-btn.color-primary {color: #26A69A;}
.secondary-btn.color-secondary {color: #6D4C41;}

.primary-btn:hover, .secondary-btn:hover {
  transform: translateY(-1px);
}

.primary-btn:active, .secondary-btn:active {
  transform: translateY(1px);
}

.floating-action-btn {
  width: 64px;
  height: 64px;
  border: none;
  outline: none;
  border-radius: 100%;
  background: #26A69A;
  box-shadow: 0 3px 6px rgba(0,0,0,0.35);
  transition: 0.15s;
  cursor: pointer;
  position: fixed;
  right: 2vw;
  bottom: 12vh;
}

.floating-action-btn.small {
  width: 56px;
  height: 56px;
}

.floating-action-btn.mini {
  width: 40px;
  height: 40px;
}

.floating-action-btn svg {
  width: 80%;
  height: 80%;
}

.floating-action-btn svg path {
  fill: #FFF;
}

.floating-action-btn:hover {
  transform: translateY(-3px);
}

.floating-action-btn:active {
  transform: translateY(2px);
}

.search-bar {
  float: right;
  margin-right: 5vw;
}

.search-bar input[type=text] {
  height: 18px;
  max-width: 200px;
  width: 25vw;
  min-width: 150px;
  padding: 6px;
  margin-top: 0;
  font-size: 17px;
  border-radius: 8px 0 0 8px;
  outline: none;
  border: 1px solid #E2E2E2;
}

.search-bar button {
  float: right;
  padding: 3px;
  width: 32px;
  height: 32px;
  margin-top: 0;
  background: #6D4C41;
  font-size: 17px;
  border: none;
  cursor: pointer;
  border-radius: 0 8px 8px 0;
  transition: background 0.2s;
}

.search-bar button svg {
  width: 100%;
  height: 100%;
  fill: #FFF;
}

.search-bar button:hover {
  background: #40241A;
}

#content {
  grid-area: 2 / 2 / 2 / 2;
  overflow-x: hidden;
  padding-top: 5px;
}

#sidebar {
  grid-area: 2 / 1 / 2 / 1;
  width: 100%;
  height: 100%;
  background: #FFF;
  box-shadow: rgba(0,0,0,0.3) -8px 0px 12px -6px inset;
}

#sidebar .category {
  width: 100%;
  height: 50px;
  margin: 10px 0;
  padding: 10px 0;
  border: solid #e2e2e2;
  border-width: 1px 0 1px 0;
  font-weight: bold;
  text-align: center;
  align-items: center;
}

.sidebar-elem {
  text-transform: uppercase;
  box-shadow:  rgba(0,0,0,0.3) -8px 0px 12px -6px inset;
  background-color: #FFF;
  display: flex;
  align-items: center;
  padding: 0 0 0 10px;
  color: #000;
  font-size: 16px;
  letter-spacing: .4px;
  font-weight: 400;
  min-height: 50px;
  transition: background 0.2s;
}

.sidebar-elem:hover {
  background: #B2FEF7;
}

.sidebar-elem[status='active'] {
  box-shadow: none;
  background: #64D8CB;
}

.sidebar-elem[status='active'] + .sidebar-elem {
  box-shadow:  rgba(0,0,0,0.3) -8px 8px 12px -6px inset;
}

.sidebar-elem + .sidebar-elem[status='active'] {
  box-shadow: rgba(0,0,0,0.3) -6px 6px 12px 6px;
}

.sidebar-elem svg {
  width: 30px;
  height: 30px;
  margin-right: 15px;
  fill: #000;
}

#navbar {
  grid-area: 3 / 1 / 3 / 1;
  position: fixed;
  bottom: 0;
  left: 0;
  overflow: hidden;
  width: 100vw;
  height: 50px;
  color: #FFF;
  background: #26A69A;
  border-top: 5px solid #00766C;
}

#navbar {
  display: none;
}

#overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  vertical-align: middle;
  z-index: 2;
  background: rgba(0, 0, 0, 0.2);
}

#overlay .popup {
  min-width: 300px;
  width: 40vw;
  height: 300px;
  margin: 100px auto;
  padding: 20px 40px;
  box-sizing: border-box;
  background: #FFF;
  border: 1px solid #E2E2E2;
  border-radius: 8px;
  box-shadow: 0 0 6px 4px rgba(0, 0, 0, 0.3);
}

#sheet.grid {
  padding: 20px 0 100px 0;
  min-width: 650px;
  width: 80%;
  max-width: 900px;
  height: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

#recipe-previews {
  grid-column: 1 / 4;
  display: grid;
  grid-auto-rows: 170px;
  grid-gap: 15px;
  margin: 0 0;
  border-radius: 5px;
  font-size: 0.8rem;
}

#recipe-previews a {
  color: #FFF;
}

#recipe-previews .item {
  background: #FFF;
  display: grid;
  grid-column: 1 / 2;
  grid-template-rows: 0.5fr 2.5fr;
  grid-template-columns: 255px auto;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
  box-shadow: 6px 6px 7px -3px rgba(0, 0, 0, 0.2);
}

#recipe-previews .item:hover {
  transform: translateY(-2px);
}

#recipe-previews .item:active {
  transform: translateY(2px);
}

#recipe-previews .preview-img {
  grid-row: 1 / 3;
  width: 255px;
  height: 170px;
  background-position: center;
  background-size: cover;
  border: 1px solid #E2E2E2;
  border-right: none;
  border-radius: 5px 0 0 5px;
  box-sizing: border-box;
}

#recipe-previews .preview-title {
  background: #26A69A;
  border-bottom: 2px solid #00766C;
  border-radius: 0 5px 0 0;
  font-family: 'Georgia';
  padding: 5px;
  box-sizing: border-box;
}

#recipe-previews .preview-desc {
  grid-area: 2 / 2 / 2 / 2;
  padding: 5px;
  box-sizing: border-box;
  overflow: hidden;
  border-left: 1px solid #E2E2E2;
}

#recipe-previews .preview-tags {
}

#recipe-previews .preview-prep {
  position: relative;
  margin-top: 10px;
  color: #000;
  overflow: hidden;
  height: 95px;
}

#recipe-previews .preview-prep:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
}

.preview-tags svg {
  width: 24px;
  height: 24px;
  vertical-align: middle;
}

.preview-tags svg path {
  fill: #004D40;
}

#recipe-previews .preview-tag {
  color: #006759;
  font-style: italic;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 2px;
  vertical-align: middle;
}

#recipe-previews .preview-tag + .preview-tag {
  margin-left: 5px;
}

.grid-btn {
  width: 100%;
  height: 100%;
  background: #26A69A;
  border-bottom: 5px solid #00766C;
  border-right: 5px solid #00766C;
  border-radius: 5px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  color: #FFF;
  font-size: 1.5rem;
  font-weight: bold;
}

.grid-btn:hover {
  transform: translateY(-1px) translateX(-1px);
  border-bottom-width: 7px;
  border-right-width: 7px;
}

.grid-btn:active {
  border: 0px solid #00766C;
  transform: translateY(2px) translateX(2px);
}

.grid-item {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  box-sizing: border-box;
}

@media(max-width: 900px) {
  body {
    grid-template-columns: auto;
    grid-template-rows: minmax(55px, 8vh) auto 50px;
  }

  #macipe-logo {
    font-size: 1.25rem;
  }

  #content {
    grid-area: 2 / 1 / 3 / 1;
  }

  #sidebar {
    display: none;
  }

  #navbar {
    display: grid;
  }

  #sheet.grid {
    width: 100%;
    min-width: 0;
    padding: 0 10px 100px 10px;
  }

  #btn-holder {
    margin-right: 5vw;
  }

  #header .search-bar {
    display: none;
  }
}

@media(max-width: 550px) {
  #sheet.grid .grid-btn {
    font-size: 5vw;
  }
}
