#sheet {
  padding: 20px 0 100px 0;
  min-width: 600px;
  width: 50%;
  height: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 50px 100px auto;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

#sheet .search-bar {
  grid-area: 1 / 1 / 1 / 4;
  width: 100%;
  display: flex;
}

#sheet .search-bar input[type='text'] {
  width: 100%;
  max-width: none;
}

@media(max-width:900px) {
  #sheet {
    width: 100%;
    min-width: 0;
    padding: 20px 10px 100px 10px;
    grid-template-rows: 50px 50px auto;
  }

  #recipe-previews {
    grid-template-columns: auto;
  }
}

@media(max-width:550px) {
  #sheet .grid-btn {
    font-size: 5vw;
  }
}
