#sheet {
  width: 100%;
  display: grid;
  grid-template-columns: 450px auto;
  grid-template-rows: 300px auto;
  padding-bottom: 100px;
}

#upload-img {
  margin: auto;
  display: grid;
  grid-template-rows: auto 40px;
}

#img-preview {
  width: 300px;
  height: 200px;
  margin: auto;
  border-radius: 10px;
  border: 1px solid #E2E2E2;
  background-position: center;
  background-size: cover;
}

#ingreds {
  grid-area: 2 / 1 / 2 / 1;
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
}

#ingreds h1 {
  margin: 0 0 10px 0;
  font-size: 24px;
}

#info {
  grid-area: 1 / 2 / 1 / 2;
  box-sizing: border-box;
  padding: 20px;
}

#preparation {
  grid-area: 2 / 2 / 2 / 2;
  box-sizing: border-box;
  padding: 20px;
}

#preparation h1 {
  margin: 0 0 10px 0;
  font-size: 24px;
}

#preparation .prepstep {
  display: flex;
  align-items: center;
}

.prepstep + .prepstep {
  margin-top: 5px;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
  margin: auto;
}
