#sheet.grid {
  grid-template-rows: 50px;
}

#sheet .search-bar {
  grid-area: 1 / 1 / 1 / 4;
  width: 100%;
  display: flex;
}

#sheet .search-bar input[type='text'] {
  width: 100%;
  max-width: none;
}

@media(max-width: 900px) {
  #sheet .search-bar {
    grid-area: 1 / 1 / 1 / 4;
  }
}
